body {
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 40px;
    /* Remove default body margin */
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'IBM Plex Mono', monospace;
    color: #0d2b52;
}


.webgl {
    height: 100px;
}


/*-----------------------*/

.container {
    margin-top: 100px;
    display: flex;
    width: 100%;
    /* Ensure container doesn't exceed viewport */
    max-width: 100%;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 45vh;
}

.left-column {
    width: 50%;
    box-sizing: border-box;
    align-items: flex-start;
}

.right-column {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-below {
    position: absolute;
    z-index: 1;
}

.element-on-top {
    position: absolute;
    z-index: 2;
}

.header-container {
   margin : 0 0 60px 0;
}

.project-list {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0px 12px;
    background-color: white;
}

.link-item {
padding-right: 16px;
}